.section-home {
    background-image: linear-gradient(0deg, var(--colorTransparent1), var(--colorGray1), var(--colorGray1));
    color: var(--colorDefault1);
}

.container-home {
    align-items: center;
    justify-content: center;
}

.status-section-home i{
    color: var(--colorPrimary1);
    display: inline-block;
    font-size: 1.8rem;
    transform: translateY(4px);
    font-style: normal;
}

.bg-poster-home {
    width: 100%;
    max-width: 640px;
}