.section-projects {
    background-color: var(--colorDefault1);
}

.group-projects-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block-project-main {
    background-color: var(--colorGray2);
    box-shadow: 4px 4px 8px black;
    color: var(--colorDefault1);
    display: flex;
    flex-direction: column;
    max-height: 330px;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

#block-project-main1 {
    min-height: 350px;
    max-width: 230px;
}

#block-project-main2 {
    min-height: 340px;
    max-width: 220px;
}

#block-project-main3 {
    min-height: 330px;
    max-width: 210px;
}

.icon-main-project {
    display: block;
    width: 100%;
    max-width: 4rem;
}

.name-main-project {
    border-bottom: 1px solid var(--colorPrimary1);
    color: var(--colorPrimary1);
    display: block;
    font-family: var(--fontTitle);
    font-size: 1.5rem;
}

.text-main-project {
    color: var(--colorGray3);
    display: block;
}

.type-main-project {
    color: var(--colorGray3);
    display: none;
}

.link-main-project {
    display: none;
}

.link-main-project *:hover {
    text-decoration: underline;
}

.init-main-project {
    color: var(--colorPrimary2);
    display: block;
}

.base-main-project {
    color: var(--colorPrimary2);
    display: block;
}

.block-project-main:hover {
    animation: opacityReveal 1s forwards; 
    background-color: var(--colorPrimary3);
}

.block-project-main:hover .icon-main-project {display: none;}

.block-project-main:hover .link-main-project {display: block;}

.block-project-main:hover .type-main-project {display: block;}



.block-project-outher {
    border-bottom: 1px solid var(--colorPrimary1);
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 210px;
}

.name-outher-project {
    color: var(--colorPrimary1);
    display: block;
    font-family: var(--fontTitle);
    font-size: 1rem;
}

.link-outher-project * {
    color: var(--colorPrimary2);
    display: block;
}

.link-outher-project *:hover {
    text-decoration: underline;
}

@keyframes opacityReveal {
    from {opacity: 0;}
    to {opacity: 1;}
}